.header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  font-family: 'Dancing Script', cursive;
  font-size: 2rem;
}

.header-logo > span {
  color: red;
}

.header-score {
  font-size: 1.5rem;
}
