.birds-list {
  padding: 0;
}

.birds-list-item {
  list-style: none;
  font-size: 1rem;
  display: flex;
  align-items: center;
  padding: 5px 10px 5px;
  cursor: pointer;
  border: 1px solid #555;
  border-radius: 15px;

  &:not(:first-child) {
    margin-top: 5px;
  }
}

.li-indicator {
  display: inline-block;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  margin-right: 10px;
  background-color: #444444;
}

.error .li-indicator,
.li-wrong-indicator {
  background-color: red;
}

.correct .li-indicator,
.li-right-indicator {
  background-color: green;
}
